body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.empty {
  background: #f6deac;
  border-radius: 8px;
  float: left;
  height: 50px;
  width: 50px;
  text-align: center;
}


.filled {
  background: #41a4e6;
  border-radius: 8px;
  float: left;
  height: 50px;
  width: 50px;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}