body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292929;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  border-radius: 5px;
  border: none;
  float: left;
  height: 48px;
  width: 48px;
  text-align: center;
  padding: 0;
  margin-right: 3px;
  margin-top: 3px;
}

.tile {
  background: black;
}

.land {
  background: #cd7b29;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font: "Helvetica Neue", Helvetica, Arial;
}

.water {
  background: #297383;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  font: "Helvetica Neue", Helvetica, Arial;
  color: #297383;

}

.board-area {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}