body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292929;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GAME BOARD */

.square {
  border-radius: 5px;
  float: left;
  height: 48px;
  width: 48px;
  text-align: center;
  padding: 0;
  margin-right: 3px;
  margin-top: 3px;
  border: none;
}

.tile {
  background: #181818;
}

.land {
  background: #cd7b29;
  color: #F5F5F5;
  font-size: 25px;
  font-weight: bold;
  font: "Helvetica Neue", Helvetica, Arial;
}

.water {
  background: #297383;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.board-area {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* GAME MENU */

.status {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  font: "Helvetica Neue", Helvetica, Arial;
  color: #297383;
}

/* .timer {
  color: white;
} */

.game-menu {
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bar {
  background: #297383;
  border-radius: 5px;
  border: none;
  float: left;
  height: 48px;
  width: 48px;
  text-align: center;
  padding: 0;
  margin-right: 5px;
  margin-top: 3px;
}

.bar:hover {
  transform: rotate(-2deg);
}

.restart-img {
  scale: 45%;
  transform: translate(-50%, -53%);
}

.home-img {
  scale: 35%;
  transform: translate(-82%, -82%);
}

.undo-img {
  scale: 70%;
  transform: translate(-17%, -12%);
}

.check-img {
  scale: 75%;
  transform: translate(-17%, -17%);
}

.rules-img {
  scale: 70%;
  transform: translate(-15%, -15%);
}

/* MAIN MENU */

.main-menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-menu {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.logo {
  scale: 50%;
  transform: translate(-60%, 40%);
}

.main {
  color: #e6ac5a;
  font: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  font-size: 25px;
  background: #297383;
  border: none;
  display: block;
  height: 40px;
  width: 150px;
  text-align: left;
  margin: 20px;
  padding-left: 5px;
}

.main:hover {
  transform-origin: top left;
  transform: scale(120%);
}

.size {
  height: 80px;
  width: 70px;
  font-size: 50px;
  padding-left: 10px;
}

.size:hover {
  transform: rotate(-2deg);
}

.flexbox {
  display: flex;
  justify-content: center;
}

.play {
  width: 90px;
}

.rule {
  width: 110px;
}

.user {
  width: 95px;
}

.about {
  width: 120px;
}

/* OVERLAY MENUS */

p {
  color: #e6ac5a;
}

.overlay-background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.overlay-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  padding: 30px;
  width: fit-content;
  height: fit-content;
}

.overlay-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.winning {
  display: flex;
}

.playing {
  width: 200px;
}

h2 {
  text-align: center;
  color: #e6ac5a;
  font-size: 40px;
  font-style: italic;
  font-variant: small-caps;
  text-decoration: underline;
}

.rules-text {
  text-align: center;
  color: #e6ac5a;
  font-size: 25px;
  font-weight: 500;
}

.rules-container {
  background-color: rgba(0, 0, 0, 0.8);
}


/* USER AUTHENTICATION */
.log-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-tab {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  display: flex;
  align-items: center;
}

.user-tab {
  font-size: 20px;
  color: #F5F5F5;
  background-color: #292929;
  font: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  height: 30px;
  width: 90px;
  border: none;
}

.vertical-line {
  width: 1px;
  height: 25px;
  background-color: #F5F5F5;
  margin: 0 10px;
}

.user-tab.inactive {
  opacity: 0.5;
}

.sign-in-container {
  padding: 20px;
}

.user-form {
  margin-bottom: 10px;
}

input {
  background-color: #292929;
  color: #F5F5F5;
  font-size: 16px;
}

.main-button-container {
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-70%, -90%);
}

.create {
  width: 210px;
}

.error-messages {
  height: 30px;
}